/* Universal Selector */
*{
    margin: 0;
    padding: 0;
}

/* Body Styling */
body{
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    background-size: contain;
    margin: 3.5% 8%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

/* Header Styling */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul li img{
    height: 50px;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 8%;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
header nav ul li a:hover{
    text-decoration: underline;
    font-weight: 700;
}
header button{
    background-color: #6d6bc3;
    color: white;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 7px;
}
header button:hover{
    background-color: #fff;
    color: #6d6bc3;
    border: 2px solid #6d6bc3;
    font-weight: 800;
}


/* Main Section */
main{
    display: flex;
    align-items: center;
    margin-top: 3%;
}

/* leftmain Styling */
.leftmain h1{
    font-size: 50px;
}
.leftmain h1 span{
    color: #6d6bc3;
}
.leftmain p{
    margin: 2% 0 12%;
}
.leftmain button{
    background-color: #6d6bc3;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 9px;
}
.leftmain button:hover{
    background-color: #fff;
    color: #6d6bc3;
    border: 2px solid #6d6bc3;
    font-weight: 800;
}

/* Rightmain Styling */
.rightmain img{
    height: 550px;
    width: 700px;
}

/* Media Query */
@media(max-width:300px){
    body{
        margin: 3% ;
    }
    header nav ul li img{
        height: 25px;
        width: 70px;
    }
    header nav ul {
        font-size: 6px;
        gap: 3%;
    }
    header button{
        font-size: 8px;
        font-weight: 500;
        padding: 4px 7px;
        margin-left: 12%;
        border-radius: 4px;
    }
    header button:hover{
        font-weight: 600;
        border: 1px solid #6d6bc3;
    }
    main{
        flex-direction: column-reverse;
        justify-content: center;
        
    }
    .leftmain h1{
        font-size: 40px;
    }
    .leftmain p{
        font-size: 15px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .leftmain button{
        font-size: 15px;
        padding: 7px 12px;
        border-radius: 7px;
    }
    .leftmain button:hover{
        border: 1px solid #6d6bc3;
        font-weight: 600;
    }
    .rightmain img{
        height: 200px;
        width: 270px;
    }
}
@media(min-width:300px){
    body{
        margin: 3% ;
    }
    header nav ul li img{
        height: 35px;
        width: 100px;
    }
    header nav ul {
        font-size: 9px;
        gap: 3%;
    }
    header button{
        font-size: 10px;
        font-weight: 500;
        padding: 5px 8px;
        margin-left: 12%;
        border-radius: 5px;
    }
    header button:hover{
        font-weight: 600;
        border: 1px solid #6d6bc3;
    }
    main{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .leftmain h1{
        font-size: 40px;
    }
    .leftmain p{
        font-size: 15px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .leftmain button{
        font-size: 18px;
        padding: 8px 14px;
        border-radius: 7px;
    }
    .leftmain button:hover{
        border: 1.5px solid #6d6bc3;
        font-weight: 600;
    }
    .rightmain img{
        height: 280px;
        width: 400px;
    }
}
@media(min-width:700px){
    body{
        margin: 3% 7%;
    }
    header nav ul li img{
        height: 55px;
        width: 160px;
    }
    header nav ul {
        font-size: 14px;
        gap: 3.5%;
    }
    header button{
        font-size: 16px;
        font-weight: 500;
        padding: 8px 15px;
        border-radius: 7px;
    }
    main{
        flex-direction: row;
        margin-top: 5%;
    }
    .leftmain h1{
        font-size: 35px;
    }
    .leftmain p{
        font-size: 12px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .leftmain button{
        font-size: 15px;
        padding: 8px 13px;
        border-radius: 7px;
    }
    .rightmain img{
        height: 330px;
        width: 450px;
    }
}
@media(min-width:800px){
    .rightmain img{
        height: 350px;
        width: 500px;
    }
}
@media(min-width:900px){
    .rightmain img{
        height: 400px;
        width: 600px;
    }
}
@media(min-width:1000px){
    .rightmain img{
        height: 450px;
        width: 700px;
    }
}
@media(min-width:1200px){

    header nav ul li img{
        height: 58px;
        width: 170px;
    }
    header nav ul {
        font-size: 18px;
        gap: 5%;
    }
    header button{
        font-size: 18px;
        font-weight: 600;
        padding: 10px 20px;
        border-radius: 8px;
    }
    header button:hover{
        font-weight: 800;
        border: 2px solid #6d6bc3;
    }
    main{
        flex-direction: row;
        margin-top: 3%;
    }
    .leftmain h1{
        font-size: 50px;
    }
    .leftmain p{
        font-size: 15px;
        margin-bottom: 30px;
        font-weight: 500;
    }
    .leftmain button{
        font-size: 18px;
        padding: 10px 18px;
        border-radius: 9px;
    }
    .leftmain button:hover{
        font-weight: 800;
    }
    .rightmain img{
        height: 580px;
        width: 840px;
    }
}


