*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
}

nav{
    padding: 20px 10%;
    height: 15vh;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: start;
}
a{
    text-decoration: none;
    color: black;
}

button{
    background-color: #3b855b;
    padding: 4px 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-weight: 700;
    width: fit-content;

}

button:hover{
    background-color: white;
    color: #3b855b;
    border: 1px solid #3b855b;
}

nav ul li img{  
    width: 150px;
    height: 40px;
}

nav ul li{
    margin-right: 5%;
    font-weight: 600;
}

main{
    display: flex;
    align-items: center;

}

.leftmain{
    width: 40%;
}

.leftmain p{
    margin: 5% 0;
}

.rightmain div img{
    width: 30%;
}

.rightmain div img :first-child{
    margin-right: 20px;
}
.rightmain div{
    margin-bottom: 20px;
}