/* Universal Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
    font-family: 'Poppins', sans-serif;
}

/* navbar styling */
nav{
    padding: 20px 10%;
    height: 15vh;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: start;
    gap: 5%;
}

/* header navbar link text styling */
a{
    text-decoration: none;
    color: black;
}

/* main styling */
.main{
    display: flex;
    align-items: center;
    padding: 0 10%;
    gap: 20%;
}

/* leftmain button styling */
button{
    background-color: #3b855b;
    padding: 4px 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    width: fit-content;

}

button:hover{
    background-color: white;
    color: #3b855b;
    border: 1px solid #3b855b;
}

/* leftmain text styling */
.leftmain{
    width: 30%;
}
.leftmain h1{
    font-size: 40px;
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.leftmain p{
    font-weight: 500;
    margin-bottom: 15px;
}

/* rightmain images styling */

.rightmain{
    padding-top: 5%;
}

.rightmain .div1{
    display: flex;
    gap: 15px;
    height: 34.55vh;
    margin-bottom: 15px;
}

.rightmain .div2{
    display: flex;
    height: 28.5vh;
}
